<div class="text-center">
    <h1 class="display-4">台北好景點</h1>
    <div id="toAddCards" class="row row-cols-1 row-cols-md-3 g-4">
    </div>
</div>

@section Scripts {
    <script src="~/js/travel.js"></script>
    <script>
        const toAddCardElement = document.querySelector('#toAddCards');
        console.log(spots.CommonFormat.Section);
        const orgDatas = spots.CommonFormat.Section;
        const toAddData = orgDatas.map(info => {
            const cat = `#${info.CAT1} #${info.CAT2}`;
            const title = info.stitle
            const img = Array.isArray(info.file.img) ? info.file.img[0] : info.file.img
            let imgDesc = info.xbody;
            imgDesc = imgDesc.length > 35 ? imgDesc.substring(0, 35) + "…(查看更多)" : imgDesc;
            const imgSrc = img.text;
            return (
                `<div class= "card" style = "width: 18rem;" >
                                <img src="${imgSrc}" class="card-img-top" alt = "..." style="object-fit: cover; width: 100%; height: 150px;">
                        <div class="card-body" ><h5 class="card-title" > ${title} </h5>
                        <p class="card-text" > ${imgDesc}</p>
                        </div><ul class="list-group list-group-flush" >
                        <li class="list-group-item" > ${cat} </li></ul></div>`
            )
        })
        if (toAddCardElement) {
            toAddCardElement.innerHTML = toAddData.join("");
        }
        console.log(toAddData);

    </script>

}
