@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts{
    <script>
        function show(something) {
            return new Promise((resolve, reject) => {
                setTimeout(() => {
                    resolve(something);
                }, 1000)
            })
        };
        show("A")
            .then(data => {
                console.log(data);
                return show("B");
            })
            .then(data => {
                console.log(data);
                return show("C");
            })
            .then(data => {
                console.log(data);
            })


    </script>
}
