@{
    ViewData["Title"] = "Show";
}

<h1>Show</h1>
<img src="~/images/empty.jpg" id="img1" class="img-fluid img-thumbnail" />

@section Scripts{
    <script>
        const avatar = document.querySelector('#img1');
        (async () => {
            // const url = '@Url.Content("~/api/avatar/3")';
            const url = '@Url.Content("~/api/avatar")?id=4';
            const response = await fetch(url);
            const datas = await response.blob();
            //顯示資料
            avatar.src = URL.createObjectURL(datas);


        })();
</script>
}